{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <style>
        .boton-header {
        display: inline-block;
        padding: 0px 0px;
        background-color: #898989;
        color: #fff;
        text-decoration: none;
        border-radius: 5px;
      }
      </style>
</head>
<body>
    <header>
        <div style="width: 20%; height: 65px; left: 0px; top: 5px; position: absolute">
            <img style="width: 54px; left: 1250px; top: 0px; position: absolute" src="{% static 'img\bolsa_compras.png' %}" />
            <a href="{% url 'login' %}" class="boton-header"><button>Login</button></a>
            <a href="{% url 'register' %}" class="boton-header"><button>Registro</button></a>
            <a href="{% url 'marketplace' %}" class="boton-header"><button>Marketplace</button></a>
        </div>
    </header>
    <div style="width: 100%; height: 100%; left: -2%; position: relative; background: white">
        
        <img style="width: 90%; left: 100px; top: 50px; position: absolute" src="{% static 'img\imagen_poli.png' %}" />
        <div style="width: 370px; left: 100px; top: 780px; position: absolute">
                <p style="left: 2px; top: -30%; position: absolute; color: black; font-size: 24px; font-family: Inter; font-weight: 400; word-wrap: break-word">Habilidades: <p style="font-size: large;">Programación: Python, JavaScript, posiblemente C++.
                    Frameworks y tecnologías web: Django, React, Vue.js.
                    Desarrollo web: HTML, CSS.</p></p>
                <div style="left: 2px; top: 90px; position: absolute; color: black; font-size: 24px; font-family: Inter; font-weight: 400; word-wrap: break-word">Herramientas de Dominio:<p style="font-size: large;"> Python, JavaScript y tal vez algo de C++. Además, desarrollo web, incluyendo HTML, CSS y frameworks como Django. </p></div>
            </div>
        <img style="width: 111px; height: 147px; left: 918px; top: 785px; position: absolute" src="{% static 'img\foto_personal.jpg' %}" />
        <div style="height: 221px; padding-bottom: 133px; padding-left: 14px; padding-right: 10px; left: 1050px; top: 785px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 4px; display: inline-flex">
            <div style="color: black; font-size: 16px; font-family: Inter; font-weight: 400; word-wrap: break-word; white-space: nowrap;">nombre: Daniel</div>
            <div style="color: black; font-size: 16px; font-family: Inter; font-weight: 400; word-wrap: break-word">apellido: Hernandez Rico</div>
            <div><span style="color: black; font-size: 16px; font-family: Inter; font-weight: 400; word-wrap: break-word">cédula: 1038866458</span><span style="color: black; font-size: 12px; font-family: Inter; font-weight: 400; word-wrap: break-word">:</span></div>
            <div><span style="color: black; font-size: 16px; font-family: Inter; font-weight: 400; word-wrap: break-word">correo: daniel_hernandez82222@elpoli.edu.co</span>
        </div>
    </div>
</body>
</html>