{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css\styles.css' %}">
    <title>Login</title>
    
</head>
<body>
    <header>
        <a href="{% url 'index' %}" class="boton-header"><button>Inicio</button></a>
        <a href="{% url 'register' %}" class="boton-header"><button>Registro</button></a>
        <a href="{% url 'marketplace' %}" class="boton-header"><button>Marketplace</button></a>
    </header>
    <main>
        <main style="width: 100%; height: 100%; position: relative; background: white">
            <div style="width: 100%; height: 65px; left: 0px; top: 0px; position: absolute">
                <img style="width: 54px; left: 90%; top: -5px; position: absolute" src="{% static 'img\bolsa_compras.png' %}"/>
            </div>
            <img style="width: 457px; height: 479px; left: 105px; top: 88px; position: absolute" src="{% static 'img\imagen_info.png' %}"/>
            <div style="width: 457px; height: 204px; left: 650px; top: 88px; position: absolute">              
                <div class="login-form">
                    <form method="post">
                        {% csrf_token %}
                        <div class="col-md-6">
                            {{ form.username.label_tag }}
                            {{ form.username }}
                        </div>
                        <div class="col-md-6" class="psw">
                            {{ form.password.label_tag }}
                            {{ form.password }}
                        </div>
                        <button type="submit">Iniciar Sesión</button>
                        {% if form.non_field_errors %}
                            <div class="error">
                                {{ form.non_field_errors }}
                            </div>
                        {% endif %}
                    </form>
                </div>
            </div>
            <div style="width: 370px; left: 10px; top: 780px; position: absolute">
                <p style="left: 2px; top: -30%; position: absolute; color: black; font-size: 24px; font-family: Inter; font-weight: 400; word-wrap: break-word">Habilidades: <p style="font-size: large;">Programación: Python, JavaScript, C++, java.
                    Frameworks y tecnologías web: Django, React.
                    Desarrollo web: HTML, CSS.</p></p>
                <div style="left: 2px; top: 81px; position: absolute; color: black; font-size: 24px; font-family: Inter; font-weight: 400; word-wrap: break-word">Herramientas de Dominio: <p style="font-size: large;"> Python, JavaScript y tal vez algo de C++. Además, desarrollo web, incluyendo HTML, CSS y frameworks como Django. </p></div>
            </div>
            <img style="width: 111px; height: 147px; left: 780px; top: 755px; position: absolute" src="{% static 'img\foto_personal.jpg' %}" />
            <div style="height: 221px; padding-bottom: 133px; padding-left: 14px; padding-right: 10px; left: 900px; top: 765px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 4px; display: inline-flex">
                <div style="color: black; font-size: 16px; font-family: Inter; font-weight: 400; word-wrap: break-word; white-space: nowrap;">nombre: Daniel</div>
                <div style="color: black; font-size: 16px; font-family: Inter; font-weight: 400; word-wrap: break-word">apellidos: Hernandez Rico</div>
                <div><span style="color: black; font-size: 16px; font-family: Inter; font-weight: 400; word-wrap: break-word">cédula: 1038866458</span><span style="color: black; font-size: 12px; font-family: Inter; font-weight: 400; word-wrap: break-word">:</span></div>
                <div><span style="color: black; font-size: 16px; font-family: Inter; font-weight: 400; word-wrap: break-word">correo: daniel_hernandez82222@elpoli.edu.co</span>
            </div>
        </main>

</body>
</html>