{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://bootstrapmade.com/assets/css/demo.css?v=5.1">
    <title>Marketplace</title>
</head>
<body>
      <header class="header">
        <div style="width: 20%; height: 65px; left: 0px; top: 5px; position: absolute">
            <a href="{% url 'index' %}" class="boton-header"><button>Inicio</button></a>
            <a href="{% url 'login' %}" class="boton-header"><button>Login</button></a>
            <a href="{% url 'register' %}" class="boton-header"><button>Registro</button></a>
        </div>
      </header>
      <div id="preview">
        <iframe id="preview-frame" class="preview-desktop" src="https://bootstrapmade.com/demo/templates/MyPortfolio/" frameborder="0"></iframe>
      </div>
    
          <script src="https://bootstrapmade.com/assets/js/demo.js?v=5.1"></script>
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-P7JSYB1CSP"></script><script>window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', 'G-P7JSYB1CSP');</script>
    <script defer src="https://static.cloudflareinsights.com/beacon.min.js/v84a3a4012de94ce1a686ba8c167c359c1696973893317" integrity="sha512-euoFGowhlaLqXsPWQ48qSkBSCFs3DPRyiwVu3FjR96cMPx+Fr+gpWRhIafcHwqwCqWS42RZhIudOvEI+Ckf6MA==" data-cf-beacon='{"rayId":"82e5ff7fff1e9aba","version":"2023.10.0","token":"68c5ca450bae485a842ff76066d69420"}' crossorigin="anonymous"></script>    
</body>
</html>
