{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css\styles.css' %}">
    <title>Registro</title>
</head>
<body>
  <main>
    <header style="width: 100%; height: 65px;">
      <div style="width: 20%; height: 65px; left: 0px; top: 5px; position: absolute">
        <img style="width: 54px; left: 1250px; top: 0px; position: absolute" src="{% static 'img\bolsa_compras.png' %}" />
        <a href="{% url 'login' %}" class="boton-header"><button>Login</button></a>
        <a href="{% url 'index' %}" class="boton-header"><button>Inicio</button></a>
        <a href="{% url 'marketplace' %}" class="boton-header"><button>Marketplace</button></a>
      </div>
    </header>
      <img style="width: 457px; height: 479px; left: 105px; top: 88px; position: absolute" src="{% static 'img\imagen_info.png' %}" />
    <div style="left: 753px; top: 88px; position: absolute">
      <h2>Registro de Usuario</h2>
    </div>
    <img style="width: 111px; height: 147px; left: 30px; top: 695px; position: absolute" src="{% static 'img\foto_personal.jpg' %}" />
    <div style="width: 40%; padding-bottom: 133px; padding-left: 14px; padding-right: 10px; left: 150px; top: 715px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 4px; display: inline-flex">
      <div style="color: black; font-size: 16px; font-family: Inter; font-weight: 400; word-wrap: break-word; white-space: nowrap;">nombre: Daniel</div>
      <div style="color: black; font-size: 16px; font-family: Inter; font-weight: 400; word-wrap: break-word">apellido: Hernandez Rico</div>
      <div><span style="color: black; font-size: 16px; font-family: Inter; font-weight: 400; word-wrap: break-word">cédula: 1038866458</span><span style="color: black; font-size: 12px; font-family: Inter; font-weight: 400; word-wrap: break-word">:</span></div>
      <div><span style="color: black; font-size: 16px; font-family: Inter; font-weight: 400; word-wrap: break-word">correo: daniel_hernandez82222@elpoli.edu.co</span>
      </div>
    </div>
    <div style="width: 457px; height: 204px; left: 753px; top: 88px; position: absolute;">
      <div class="register-form">
          <form method="post" class="row g-3">
              {% csrf_token %}
              <div class="col-md-6">
                  {{ form.username.label_tag }}
                  {{ form.username }}
              </div>
              <div class="col-md-6">
                {{ form.first_name.label_tag }}
                {{ form.first_name }}
              </div>
              <div class="col-md-6">
                {{ form.last_name.label_tag }}
                {{ form.last_name }}
              </div>
              <div class="col-md-6">
                  {{ form.email.label_tag }}
                  {{ form.email }}
              </div>
              <div class="col-md-6">
                  {{ form.password1.label_tag }}
                  {{ form.password1 }}
              </div>
              <div class="col-md-6">
                  {{ form.password2.label_tag }}
                  {{ form.password2 }}
              </div>
              <div class="col-12">
                  <button type="submit" class="btn btn-primary">Registrar</button>
                  <a href="{% url 'login' %}" class="boton-login">Login</a>
              </div>
          </form>
        </div>       
      </div>
  </main>
</body>
</html>
