{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <link rel="icon" href="{% static 'img/logo_main.png' %}">
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">

  <title>Carrito de Compras</title>
</head>
<body>
  <header class="container">
    <div class="buttons">
    </div>
    <div class="product-header">
    <nav>
      <ul>
        <a href="{% url 'index' %}" class="botonVerMas">Inicio</a>
        <a href="{% url 'profesionales' %}" class="botonVerMas">Profesionales</a>
        <a href="{% url 'no_profesionales' %}" class="botonVerMas">Estandar</a>
        {% if user.is_authenticated %}
          <a href="{% url 'perfil' %}" class="botonVerMas">Perfil</a>
        {% else %}
          <a href="{% url 'login' %}" class="botonVerMas">Iniciar sesión o Registrarse</a>
        {% endif %}
      </ul>
    </nav>
    <div class="cart-icon" style="position: absolute; top: 10px; right: 40px;">
      <a href="{% url 'ver_carrito' %}" id="cart-link">
        <img href="{% url 'ver_carrito' %}" src="{% static 'img/bolsa_compras.png' %}" alt="Carrito">
        <span id="cart-count">12</span>
      </a>
  </div>
    </div>
    <h1 class="title">Carrito de Compras</h1>
  </header>

  <main class="container">
    <table class="table">
      <thead>
        <tr>
          <th>Producto</th>
          <th>Precio</th>
        </tr>
      </thead>
      <tbody>
        {% for producto in productos %}
        <tr>
          <td>{{ producto.nombre }}</td>
          <td>${{ producto.precio }}</td>
        </tr>
        {% endfor %}
        <tr>
          <td colspan="3"><strong>Total:</strong></td>
          <td><span>$7,065,700.00.</span></td>
        </tr>
      </tbody>
    </table>
  </main>
  <footer class="container">
    <p>Derechos Reservados © Año</p>
  </footer>
</body>
</html>
