{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <link rel="icon" href="{% static 'img\logo_main.png' %}">
  <link rel="icon" href="{% static 'img\logo_main.png' %}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script defer src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script defer src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
  <script defer src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <title>Audio Evolution</title>
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
  <div style="position: relative;">
    <header class="container">
      <div class="buttons">
        <a href="{% url 'profesionales' %}" class="btn">Profesionales</a>
        <a href="{% url 'no_profesionales' %}" class="btn">Estandar</a>
        {% if user.is_authenticated %}
            <a href="{% url 'perfil' %}" class="btn">Perfil</a>
        {% else %}
            <a href="{% url 'login' %}" class="btn">Iniciar Sesión o Registrarse</a>
        {% endif %}    
        <h1 class="title" style="font-family: Finland;">Audio Evolution</h1>
      </div>
        <div class="cart-icon" style="position: absolute; top: 10px; right: 40px;">
          <a href="{% url 'ver_carrito' %}" id="cart-link">
            <img href="{% url 'ver_carrito' %}" src="{% static 'img/bolsa_compras.png' %}" alt="Carrito">
            <span id="cart-count">12</span>
          </a>
        </div>
    </header>
    <main>
      <div style="width: 100%; left: 0%;" id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          {% for banner in banners %}
            <li data-target="#carouselExampleIndicators" data-slide-to="{{ forloop.counter0 }}" {% if forloop.first %}class="active"{% endif %}></li>
          {% endfor %}
        </ol>
        <div class="carousel-inner">
          {% for banner in banners %}
            <div class="carousel-item {% if forloop.first %}active{% endif %}">
              <img class="d-block mx-auto" style="max-width: 100%; height: auto;"  class="d-block w-100" src="{{ banner.imagen.url }}" alt="{{ banner.nombre }}">
            </div>
          {% endfor %}
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>      
      <section class="products">
        {% for producto in productos %}
          <div class="product">
            <img class="product-image" src="{{ producto.get_imagen_url }}" alt="{{ producto.nombre }}">
            <h2>{{ producto.nombre }}</h2>
            <p>${{ producto.precio }}</p>
            <a class="botonVerMas" href="{% url 'producto-detalle' producto.id %}">Ver más</a>
          </div>
        {% endfor %}
      </section>
    </main>
    <footer class="footer">
      <p>Copyright &copy; 2023</p>
    </footer>
  </div>
</body>
</html>
