{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Perfil de Usuario</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="icon" href="{% static 'img\logo_main.png' %}">
</head>
<body>
    <header>
        <div class="buttons">
          <a href="{% url 'index' %}" class="btn">Inicio</a>
          <a href="{% url 'profesionales' %}" class="btn">Profesionales</a>
          <a href="{% url 'no_profesionales' %}" class="btn">Estandar</a>
        </div>
    </header>
    <div class="container">
        <h2>Perfil de Usuario</h2>
        <p>Bienvenido, {{ usuario.username }}</p>
        <p>Correo electrónico: {{ usuario.email }}</p>
        <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button type="submit" class="botonVerMas">Cerrar sesión</button>
        </form>
        {% if productos_en_carrito %}
            <h2>Productos en tu carrito:</h2>
        <ul>
        {% for producto in productos_en_carrito %}
            <li>{{ producto.nombre }} - Precio: {{ producto.precio }}</li>
         <!-- Otros detalles del producto -->
            {% endfor %}
        </ul>
        {% else %}
            <p>No hay productos en tu carrito.</p>
        {% endif %}     
    </div>
</body>
</html>