{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
  <script defer src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script defer src="{% static 'js/script.js' %}"></script>
  <link rel="icon" href="{% static 'img\logo_main.png' %}">
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <link rel="stylesheet" href="{% static 'css/producto_detalle.css' %}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
  <title>Detalles del producto - {{ producto.nombre }}</title>
</head>
<body>
  <div class="container">
    <main class="product-details">
      <div class="container">
        <header class="header-product-details">
          <div class="logo">
            <a href="{% url 'index' %}">
              <img src="{% static 'img\logo_main.png' %}" alt="Logo">
            </a>
          </div>
          <div class="product-header">
            
          <nav>
            <ul>
              <a href="{% url 'index' %}" class="botonVerMas">Inicio</a>
              <a href="{% url 'profesionales' %}" class="botonVerMas">Profesionales</a>
              <a href="{% url 'no_profesionales' %}" class="botonVerMas">Estandar</a>
              {% if user.is_authenticated %}
                <li><a href="{% url 'perfil' %}" class="botonVerMas">Perfil</a></li>
              {% else %}
                <li><a href="{% url 'login' %}" class="botonVerMas">Login</a></li>
              {% endif %}
            </ul>
          </nav>
            <h1>Detalles - {{ producto.nombre }}</h1>
          <div class="cart-icon" style="position: absolute; top: 100px; right: 40px;">
            <a href="{% url 'ver_carrito' %}" id="cart-link">
              <img href="{% url 'ver_carrito' %}" src="{% static 'img/bolsa_compras.png' %}" alt="Carrito">
              <span id="cart-count">12</span>
            </a>
        </div>
        </div>
        </header>
        <main class="product-details">
          <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              {% for imagen in imagenes %}
                <div class="carousel-item {% if forloop.first %}active{% endif %}">
                  <img class="d-block" src="{{ imagen.imagen.url }}" alt="Imagen del producto" style="width: 450PX; height: auto;">
                </div>
              {% endfor %}
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </a>
          </div>
          <div class="product-info">
            <h2>{{ producto.nombre }}</h2>
            <p class="price">Precio: ${{ producto.precio }}</p>
            <p class="category">Categoría: {{ producto.get_categoria_display }}</p>
            <p class="description">Descripción: {{ producto.descripcion }}</p>
            <form method="post">
              {% csrf_token %}
              <button class="add-to-cart" id="add-to-cart-btn"" type="submit">Agregar al carrito</button>
            </form>
          </div>
        </main>
        <footer>
          <p>&copy; 2023</p>
        </footer>
      </div>
  </div>
</body>
</html>
