{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <link rel="icon" href="{% static 'img\logo_main.png' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>Productos</title>
</head>
<body>
    <header>
        <div class="buttons">
            <a href="{% url 'index' %}" class="btn">Inicio</a>
            <a href="{% url 'no_profesionales' %}" class="btn">Estandar</a>
            {% if user.is_authenticated %}
              <a href="{% url 'perfil' %}" class="btn">Perfil</a>
            {% else %}
              <a href="{% url 'login' %}" class="btn">Iniciar Sesión o Registrarse</a>
            {% endif %}
        </div>
        <div class="cart-icon" style="position: absolute; top: 10px; right: 40px;">
            <a href="{% url 'ver_carrito' %}" id="cart-link">
              <img href="{% url 'ver_carrito' %}" src="{% static 'img/bolsa_compras.png' %}" alt="Carrito">
              <span id="cart-count">12</span>
            </a>
        </div>
    </header>
    <main class="container">
        <h2>Auriculares Profesionales</h2>
        <div class="products">
            {% for producto in productos %}
                <div class="product">
                    <img src="{{ producto.get_imagen_url }}" alt="{{ producto.nombre }}">
                    <h3>{{ producto.nombre }}</h3>
                    <p>Precio: ${{ producto.precio }}</p>
                    <a class="botonVerMas" href="{% url 'producto-detalle' producto.id %}">Ver más</a>
                </div>
            {% endfor %}
        </div>
    </main>
</body>
</html>