{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>    
    <link rel="icon" href="{% static 'img\logo_main.png' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/registro.css' %}">
    <title>Registro</title>
</head>
<body>
    <div class="buttons">
        <a href="{% url 'index' %}" class="btn">Inicio</a>
        <a href="{% url 'profesionales' %}" class="btn">Profesionales</a>
        <a href="{% url 'no_profesionales' %}" class="btn">Estandar</a>
      </div>
    </header>
    <h2>Registro</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="botonVerMas" type="submit">Registrarse</button>
        <a href="{% url 'login' %}" >Iniciar Sesión</a>
    </form>
</body>
</html>
