/* Estilos para el detalle del producto */
.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
  }

  .img_detalles{
    max-width: 100%;
    max-height: 300px;
    height: auto;
    margin-bottom: 20px;
  }
  
  .product-details {
    display: flex;
    justify-content: space-between;
  }
  
  .product-images img {
    max-width: 100%;
    max-height: 300px;
    height: auto;
    margin-bottom: 20px;
  }
  
  .product-info {
    flex: 1;
    margin-left: 40px;
  }  
  
  .price {
    font-size: 20px;
    font-weight: bold;
  }
  
  .category {
    margin-top: 10px;
    font-style: italic;
  }
  
  .description {
    margin-top: 20px;
  }
  
  .add-to-cart {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #f90;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  #add-to-cart:hover{
    background-color: rgb(0, 0, 0);
  }
  
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    border-bottom: 1px solid #ccc;
  }
  
  .logo {
    text-align: center; 

  }
  
  .logo img {
    max-width: 150px;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 20px;
  }
  
  nav ul li:last-child {
    margin-right: 0;
  }
  

.container {
  max-width: 960px;
  margin: 0 auto;
}


.header-product-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.logo img {
  height: 50px;
}

.product-header {
  flex-grow: 1;
  text-align: center;
}

.product-details {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px 0;
}

.product-info {
  flex-grow: 1;
  margin-left: 20px;
}

.product-info h2 {
  font-size: 24px;
  margin-bottom: 10px;
}
