body {
    background-color: #fff;
    font-family: sans-serif;
  }

  .product-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 2rem;
  }
  
  .container {
    width: 100%;
    max-height: 960px; 
    max-width: auto;
    padding-left: 0%;
    margin: 0 auto;
  }
  
  .header {
    background-color: #000;
    color: #fff;
    padding: 20px 0;
  }
  
  .header h1 {
    margin: 0;
  }
  
  .main {
    padding: 20px 0;
  }
  
  .products {
    margin: 0 -15px;
    display: flex;
    flex-wrap: wrap;
    padding-left: 10%;
    justify-content: center;
    gap: 20px;
  }
  
  .product {
    width: 25%;
    padding-top: 5%;
    float: left;
    margin: 0 25px 25px 0;
  }
  
  .product img {
    width: auto;
    max-height: 180px;
  }
  
  .product h2 {
    margin: 0;
    font-size: 18px;
  }
  
  .product p {
    margin: 0;
    font-size: 16px;
  }
  
  .product-image {
    max-width: 100%;
    height: 150px;
    display: block;
    margin-bottom: 10px;
  }

  .footer{
    padding-top: 10%;
    padding-left: 50%;
  }

  .buttons {
    margin-top: 20px;
  }

.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  margin-right: 10px;
}

.btn:hover {
  background-color: #0056b3;
}

/* login */
form {
  max-width: 300px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 3px;
  border: 1px solid #ccc;
}

input[type="submit"] {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #0056b3;
}

.botonVerMas {
  cursor: pointer;
  display: inline-block;
  padding: 8px 16px;
  margin-top: 10px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  color: #fff;
  background-color: #007bff;
  border: 2px solid #007bff;
}

.botonVerMas:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}

.cart-icon{
  position: absolute;
  right: 0;
}