

.boton-login{
    display: inline-block;
    padding: 8px 12px;
    text-align: center;
    background-color: #014f17;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.register-form {
    position: absolute;
    left: 0px;
    top: 40px;
    color: #626262;
    font-size: 12px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    word-wrap: break-word;
}

.register-form form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.register-form input[type="text"],
.register-form input[type="password"] {
    width: 200px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 12px;
    top: 20px;
}

.register-form button {
    padding: 8px 12px;
    background-color: #014f17;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 12px;
}

.register-form button:hover {
    background-color: #29b935;
}

.register-form .error {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}

.boton-header {
    display: inline-block;
    padding: 0px 0px;
    background-color: #898989;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.login-form {
    position: absolute;
    left: 100px;
    top: 40px;
    color: #626262;
    font-size: 12px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    word-wrap: break-word;
}

.login-form form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.login-form input[type="text"],
.login-form input[type="password"] {
    width: 200px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 12px;
    top: 20px;
}

.login-form button {
    padding: 8px 12px;
    background-color: #014f17;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 12px;
}

.login-form button:hover {
    background-color: #29b935;
}

.login-form .error {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}

.service {
    /* Agrega estilos básicos para cada servicio */
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    /* Otros estilos */
}

.service {
    /* Agrega estilos básicos para cada servicio */
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    /* Otros estilos */
}

.service {
    /* Agrega estilos básicos para cada servicio */
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    /* Otros estilos */
}